<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/Nlog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="PAC.VinculadoAPI.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"></add>
  </extensions>

  <targets>
    <!--write to file-->
    <target name="historico"
            fileName="${basedir}\logs\PAC.VinculadoAPI\${shortdate}.log"
            xsi:type="File"
            encoding="utf-8"
            layout="[${longdate}][${machinename}][${level}] ${message} ${exception}, url: ${aspnet-request-url} ${aspnet-request:serverVariable=HTTP_URL}${aspnet-request:queryString}, content-type: ${aspnet-request:header=Content-Type}" />

    <!-- write to the void aka just remove -->
    <target xsi:type="Null" name="blackhole" />
  </targets>
  <rules>

    <!--salta logs de microsoft y graba solo los propios del app-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true"></logger>
    <logger name="*" minlevel="Warn" writeTo="historico"></logger>

  </rules>
</nlog>